[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=5.0"
djangorestframework = ">=3.14"
django-cors-headers = ">=4.0"
pyjwt = ">=2.8"
python-dotenv = ">=1.0"
pillow = ">=10.0"
django-filter = ">=23.0"

[dev-packages]

[requires]
python_version = "3.13"
