<div class="tree-node">
    <div class="tree-node-username">{{ node.username }}</div>
    <div class="tree-node-info">ID: {{ node.unique_id }}</div>
    <div class="tree-node-info">Purchases: {{ node.total_purchases }}</div>
    <div class="tree-node-info">Coins: {{ node.total_coins|floatformat:0 }}</div>
    
    {% if node.children %}
        <div class="tree-children">
            {% for child in node.children %}
                {% include "admin/partials/tree_node.html" with node=child %}
            {% endfor %}
        </div>
    {% endif %}
</div>
